.html,
body {
  height: 100%;
}
.container {
  min-width: 30em;
  max-width: 86%;
  margin-right: auto;
  margin-left: auto;
}
.discussion
{
    overflow-y:auto;
    border: 1px solid black;
    height: 8em;
}
.text--center {
  text-align: center;
}
.text--shadow {
  text-shadow: 1px 1px 2px grey;
}
.u-flex {
  display: flex;
}
.u-flex--column {
  flex-direction: column;
}
.u-flex--index {
  flex: 1 1 auto;
}
.tab {
  list-style: none;
}
.tab__tab{
    display:inline-block;
}
.video{
  text-align: center
}
.title_esilv{
  text-decoration: underline;
  margin-bottom: .5rem;
}
.link{
  margin:0 0 10px 0;

}
.buttons {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
              margin-right: 2em;
}

.buttons:hover {
  background-color: rgba(255, 0, 0, 1);
}

.buttons:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.blocks {
  display: inline-block;
  margin-right: 7em;
  width: 190px;
  margin-top: 0px;
  }